header {
    text-align: center;
    background-color: rgb(149, 149, 227);
    margin-bottom: 20px;
    padding: 10px;
}

a {
    margin: 0 10px;
    color: #666;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}

.active {
    color: blue ;
    text-decoration: underline;
}